nav {
    background-color:lightcoral;
    border: 3px solid black;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    margin: 30px auto;
    text-align: center;
  }
  
  #p1 {
    font-size: large;
    font-weight: bold;
    text-align: center;
  }
  
  #p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: small;
    color: black;
  }
  
  .pstyle {
    background-color: rgb(223, 194, 194);
    margin: 5px;
    padding: 10px;
  }
  
  .nav-item {
    border-bottom: 2px solid black;
  }
  
  .nav-item a {
    font-weight: bold !important;
    color: black !important;
  }